################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02. ASP .NET WEB API/01.WEB API/01_SampleWebApi/.vs
