################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/02. ASP .NET WEB API/01.WEB API/01_SampleWebApi/.vs
/02. ASP .NET WEB API/01.WEB API/03_SampleWebApi - Appsettings.json/.vs
/02. ASP .NET WEB API/01.WEB API/04_SampleWebApi - HostingModel/.vs/01_SampleWebApi.slnx
/02. ASP .NET WEB API/01.WEB API/04_SampleWebApi - HostingModel/01_SampleWebApi/bin/Debug/net10.0
/02. ASP .NET WEB API/01.WEB API/06_SampleWebApi - DI Registeration/01_SampleWebApi/bin/Debug/net10.0
/02. ASP .NET WEB API/01.WEB API/06_SampleWebApi - DI Registeration/.vs/01_SampleWebApi.slnx
/02. ASP .NET WEB API/01.WEB API/06_SampleWebApi - DI Registeration/01_SampleWebApi/obj/Debug/net10.0
/02. ASP .NET WEB API/01.WEB API/06_SampleWebApi - DI Registeration/01_SampleWebApi/obj
/02. ASP .NET WEB API/01.WEB API/06_SampleWebApi - Swagger/.vs
/02. ASP .NET WEB API/01.WEB API/09_SampleWebApi - Return Status Code/EmployeeAPI/.vs
/02. ASP .NET WEB API/01.WEB API/09_SampleWebApi - Return Status Code/EmployeeAPI/EmployeeAPI/obj
